.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .material-icons {
  color: #f1f1f1;
  font-size: 70px;
  display: block;
  margin-top: 25px;
}
.navbar .material-icons {
  color: #f1f1f1;
  font-size: 70px;
  display: block;
}

.sidenav .material-icons:hover {
  color: #ddd;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
}

@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px;
  }
}

.navbar {
  height: 160px;
  overflow: hidden;
  background-color: #117a8b;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.bodyarea {
  min-height: 100vh;
  background: #f8f9fa;
  padding-top: 160px;
}

/*------------------------------
        //pagination
------------------------------*/

.paginationMsg {
  color: #8498a7;
  /* opacity: 0.5; */
  font-weight: 600;
}

.paginationMsg span {
  border: 2px solid #8498a7;
  padding: 2px;
  border-radius: 5px;
  color: #2a84ee;
  font-weight: bold;
  margin: 0 5px;
  padding-left: 6px;
}

.pagination a {
  cursor: pointer;
}

.pagination a:hover {
  color: #072a43 !important;
}

.pagination li.previous a,
.pagination li.next a {
  font-weight: bold;
  font-size: 17px;
  color: #007bff;
}

.pagination li.previous.disabled a,
.pagination li.next.disabled a {
  color: #ccc;
}

.pagination li a {
  margin: 0 5px;
  font-weight: bold;
  color: #ccc;
}

.pagination li.active a {
  color: #6c757d;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  font-size: 17px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

label {
  font-size: medium;
}

thead {
  background: lightgray;
}
